body {
 background-color: #aadfff;   
}
h2{
   font-family:lora; 
   text-align: center;
}
h1{
    font-family: lora;
    text-align: center;
}
p{
    font-family: lora;
    font-style: bold;
    text-align: center;
}